@use './scss/root.scss' as *;
@use './scss/mixins.scss' as *;
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Source Sans Pro';
}

p {
  margin: 0;
  padding: 0;
  color: $black;
}

img {
  height: 100%;
  width: 100%;
}

.flex {
  display: flex;
}

.row-center {
  @include row-center;
}

.col-center {
  @include col-center;
}

.text-large {
  font-size: 2rem;
}

.text-small {
  font-size: 0.8rem;
}

.text-title {
  font-size: 1.5rem;
}

.text-subtitle {
  font-size: 1rem;
}

.resume-container {
  display: flex;
  background-color: $white;
  @extend .pb-10;
}

.resume-sidebar-section {
  flex: 0 0 30%;
  background-color: $primary;
  color: $white;
}

.resume-main-section {
  flex: 1;
  background-color: $white;
}

.sidebar-section-title {
  @extend .ml-6, .py-1;
  border-bottom: 2px solid $secondary;
}

.sidebar-section-subtitle {
  @extend .ml-6, .my-5;
}

.sidebar-void-contact-container {
  background-color: $secondary;
  flex: 0 0 20%;
}

.sidebar-void-contact-container::after {
  content: '\00a0';
}

.sidebar-filled-contact-container {
  background-color: $on-primary;
  flex: 1;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.personal-detail-content {
  display: flex;
  justify-content: flex-end;
  @extend .p-1;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-italic {
  font-style: italic;
}

.resume-section-header {
  border-bottom: 0.5rem solid $light-grey;
}

.work-experience-container {
  display: flex;
  border-bottom: 2px dashed $light-grey;
}

.dashed-border-bottom {
  border-bottom: 2px dashed $light-grey;
}

.work-experience-main-section {
  flex: 1;
}

.work-experiece-siderbase {
  flex: 0 0 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-bold {
  font-weight: 600;
}

.row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend .pr-2;
}

.text-center {
  text-align: center;
}

.h-full {
  height: 100vh;
}

.align-items-center {
  align-items: center;
}

.progile-img {
  width: 100%;
  height: 100%;
  @extend .p-3;
}

.resume-sidebar-section p {
  @extend .text-light-grey;
}
